/* home.html CSS*/


/*.masthead-brand {}*/

.masthead-nav {
    font-family: 'Open Sans', sans-serif;
}

.lead {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
}

.cover-heading {
    font-size: 65px;
    padding-bottom: 30px;
}

.home-body {
    height: 100%;
    /*background-color: #333;
*/
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4776E6, #8E54E9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4776E6, #8E54E9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-survey {
    color: #FFF;
}


/*Credits.html  CSS*/

.credit-body {
    background: #9D50BB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9D50BB, #6E48AA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9D50BB, #6E48AA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.credit-heading {
    font-size: 51px;
    padding-bottom: 220px;
    margin: auto;
}

.credit-list {
    font-size: 35px;
    padding-bottom: 100px;
}


/*survey.html CSS*/

.site-wrapper-inner .masthead {
    width: 100;
}

.survey-body .site-wrapper-inner {
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4568DC, #B06AB3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4568DC, #B06AB3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn.btn-primary.btn-lg.btn-block {
    background: #FFB27D;
    border: #F9E396;
    color: #3B1195;
}
