.jumboheadline,
p {
    padding-top: 30px;
    color: #FFFFFF;
}

.btn.btn-primary.btn-lg {
    background: #6772e5;
    border: #6772e5;
    margin-left: 25px;
}

.masthead-brand {
    text-align: left;
}

.intro-box {
    height: 400px;
    color: #FFFFFF;
    background: #4776E6;
    margin-top: 0px;
    padding-top: 0px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4776E6, #8E54E9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4776E6, #8E54E9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.credit-list,
.icons {
    font-size: 20px;
    margin-bottom: 120px;
}

.cover-heading {
    font-size: 65px;
    padding-top: 60px;
}

.credit-heading {
    margin-bottom: 250px;
    font-size: 50px;
}

.masthead-nav {
    font-family: 'Open Sans', sans-serif;
}

.lead {
    font-family: 'Open Sans', sans-serif;
}
